# AI
--extra-index-url https://download.pytorch.org/whl/cu121

# Isaac Requirements
isaacsim==4.2.0.2
isaacsim-extscache-physics==4.2.0.2
isaacsim-extscache-kit-sdk==4.2.0.2
isaacsim-extscache-kit==4.2.0.2
